# IntelliJ IDEA
.idea/
*.iml

# Java
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log
*.log.*

# Maven
target/
*.mvn
.mvn/

# Environment variables
.env

# Configuración de IDEs
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
